body {
}
.intro {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87cefa;
    
}

li.intro {
    float: left;
}

li a.intro {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: #00ffff;
    }

.left {

}
