@{
    ViewBag.Title = "About Us";
}

<div>
    <h3>Meet the people that make this zoo a home for animals</h3>
    <p>Text about the history of the zoo, owners, and anything else</p>
    <img src="/images/about us.jpg" width="300" height="300"/>
</div>
