
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-18" />
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <link rel="stylesheet" href="css/StyleSheet.css">
</head>
<body style="background-color:deepskyblue">
    <h1>Zoo Website</h1>
    <h2>About Us</h2>
    <nav>
        <ul>
            <li><a asp-action="Index">Home page</a></li>
            <li><a asp-action="Tickets">Tickets page</a></li>
            <li><a asp-action="Animals">Animals page</a></li>
            <li><a asp-action="DirectionsToZoo">Directions to zoo page</a></li>
            <li><a asp-action="AboutUs">About us page</a></li>
        </ul>
    </nav>
<div>
    <p>Text about the history of the zoo, owners, and anything else</p>
    <img src="/images/about us.jpg" width="300" height="300"/>
</div>
</body>
</html>
