@{
    ViewBag.Title = "Animals";
}

<div style="border:solid #379683">
    <h3 style="text-indent: 50px">Animals of the Zoo</h3>
    <nav>
        <ul>
            <li><a href="#birds">Birds</a></li>
            <li><a href="#reptiles">Reptiles</a></li>
            <li><a href="#mammals">Mammals</a></li>
            <li><a href="#exotic">Exotic</a></li>
        </ul>
    </nav>
    
    <p><img class="img-responsive" src="/images/animals.jpg" alt="Animal photo" style="width: 50%"s>
        This content will be retrieved from a database
        depending on which of the above list gets selected.</p>
</div>

