@{
    ViewBag.Title = "Directions";
}
<div>
    <h3>Use Maps to Plan Your Route to the Zoo</h3>
    <p>This is where the maps api will go</p>
</div>
<div>
    <h3>Directions to Zoo</h3>
    <p>From Jacksonville, take Hwy 24/258 towards Richlands.  After the 17/24 split, its just 4 miles 
        to Wells Rd. Turn right onto Wells Rd, then 2000 feet on the left is the zoo. <br/>
        From Richlands, take Hwy. 24/258 towards Jacksonville. After you pass the Drag strip, take the 
        first left which is Wells Road, then 2000 feet on the left is the zoo.  </p>
</div>

