
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-18" />
    <meta name="Home Page" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/StyleSheet.css">
</head>
<body style="background-color:deepskyblue">
    <h1>Zoo Website</h1>
    <h2>Home Page</h2>
    <nav>
        <ul class="intro">
            <li class="intro"><a class="intro"asp-action="Index">Home page</a></li>
            <li class="intro"><a class="intro"asp-action="Tickets">Tickets page</a></li>
            <li class="intro"><a class="intro"asp-action="Animals">Animals page</a></li>
            <li class="intro"><a class="intro"asp-action="DirectionsToZoo">Directions to zoo page</a></li>
            <li class="intro"><a class="intro" asp-action="AboutUs">About us page</a></li>
        </ul>
    </nav>

    <div>
        <h3>Announcements</h3>
        <main>Announcement text.</main>
    </div>
    <div>    
        <ul style="background-color: dodgerblue"  >
            <li><p>Monday:</p></li>
            <li><p>Tuesday:</p></li>
            <li><p>Wednesday:</p></li>
            <li><p>Thursday:</p></li>
            <li><p>Friday:</p></li>
            <li><p>Saturday:</p></li>
            <li><p>Sunday:</p></li>

        </ul>
    </div>
</body>
</html>
