@{
    ViewBag.Title = "Home";
}
    <div>
        <h3>Announcements</h3>
        <main>
            announcement text announcement text announcement text
        </main>
    </div>
<div>    
    <ul style="background-color:#8ee4af">
        <li><p>Monday:</p></li>
        <li><p>Tuesday:</p></li>
        <li><p>Wednesday:</p></li>
        <li><p>Thursday:</p></li>
        <li><p>Friday:</p></li>
        <li><p>Saturday:</p></li>
        <li><p>Sunday:</p></li>
    </ul>
</div>
<div>
    <img class="img-responsive" src="~/images/bunny.jpg"/>
</div>
