
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-18" />
    <meta name="Tickets" content="width=width-device" />
    <title>Tickets Page</title>
    <link rel="stylesheet" href="css/StyleSheet.css">
</head>
<body style="background-color:deepskyblue">
    <h1>Zoo Website</h1>
    <h2>Tickets Page</h2><nav>
        <ul>
            <li><a asp-action="Index">Home page</a></li>
            <li><a asp-action="Tickets">Tickets page</a></li>
            <li><a asp-action="Animals">Animals page</a></li>
            <li><a asp-action="DirectionsToZoo">Directions to zoo page</a></li>
            <li><a asp-action="AboutUs">About us page</a></li>
        </ul>
    </nav>
    <div>
        <h3>Announcements</h3>
        <p>
            This is where any warnings or announcements would go
            regarding if the zoo is open or not.
        </p>
    </div>
    <div>
        <h3>Purchase Tickets</h3>
        <p>This is where paypal api and calendar will go</p>
    </div>

</body>
</html>

