@{
    ViewBag.Title = "Tickets";
}

<div>
    <h3>Announcements</h3>
    <p>
        This is where any warnings or announcements would go
        regarding if the zoo is open or not.
    </p>
</div>
<div>
    <h3>Purchase Tickets</h3>
    <p>This is where paypal api and calendar will go</p>
</div>


